.square_incidents {
    position: relative;
    right: -200px;
    bottom: -100px;
}

.square {
    height: 300px;
    width: 400px;
    background-color: #0857a6 !important;
    border-radius: 25px;
}
.square_scripts {
    position: relative;
    right: -800px;
    bottom: 200px;
}

div#script_number {
    position: relative;
    top: 30px;
    right: -130px;
    font-size: 130px;
    color: white;
}


div#script_label {
    position: relative;
    right: -158px;
    bottom: -20px;
    font-size: 25px;
    color: white;
}

div#device_label {
    right: -145px;
    bottom: -60px;
    font-size: 25px;
    color: white;
    position: relative;
}

div#device_number {
    position: relative;
    right: -170px;
    bottom: -50px;
    font-size: 110px;
    color: white;
}

div#incident_number {
    position: relative;
    right: -165px;
    bottom: -30px;
    font-size: 140px;
    color: white;
}

div#incident_label {
    position: relative;
    right: -140px;
    bottom: -20px;
    color: white;
    font-size: 25px;
}

div#main-content {
    position: relative;
    bottom: -150px;
}

h1#title_home {
    position: relative;
    right: -630px;
    top: 80px;
}

.carousel {
    position: relative;
    max-width: 800px;
    right: -300px;
    bottom: -100px;
    height: 500px;
}

a.left.carousel-control {
    background: white;
}

span.glyphicon.glyphicon-chevron-left {
    color: black;
}

.carousel-inner {
    height: 1000px !important;
}


.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: rgba(0,0,0,0);
    border: 1px solid black !important;
    border-radius: 10px;
}


a.right.carousel-control {
    background: white;
}

span.glyphicon.glyphicon-chevron-right {
    color: black;
}