table_incident.in_name {
    position: relative;
    top: -10px;
}

.in_description {
    position: relative;
    top: 10px;
}

.in_status {
    position: relative;
    top: 30px;
}

.modal-content {
    height: 335px;
}

.modal-body {
    position: relative;
    padding: 15px;
    height: 175px;
}

.message {
    margin-top: 10px; !important;
}

.position {
    position: relative;
    top: 10px;
}

.alert.success {
  background-color: green;
}

.alert.error {
  background-color: red;
}

.table_incidents {
    padding-right: 0px;
    padding-left: 0px;
}

.plus {
    height: 20px !important;
    width: 20px !important;
}

.user_delete {
    margin-bottom: 0px !important;
    left: 30px;
    position: relative;
}

div#incidents_footer {
    position: relative;
    top: -30px;
}

.incident_footer_warning {
    left: 0px !important;
}

div#add_incident_body {
    position: relative;
    right: -10px;
}

.text_area {
    width: 550px;
}