.execute_modal {
    padding: 4px;
}

.table_scripts {
    padding-right: 0px;
    padding-left: 0px;
}

.ad_text {
    position: relative;
    right: -30px;
    bottom: -340px;
    font-size: 28px;
    text-shadow: black 0px 0px 2px;
}

.plus {
    height: 20px !important;
    width: 20px !important;
}

.user_delete {
    margin-bottom: 0px !important;
    bottom: -100px;
    left: 30px;
    position: relative;
}

.button_scripts {
    bottom: -60px !important;
}