.user_model {
    position: relative;
    right: -10px;
}

.user_button {
    position: relative;
    right: -490px;

}

.table_users {
    padding-right: 0px;
    padding-left: 0px;
}

button#add_user_button {
    position: relative;
    bottom: -80px;
    right: -1050px;
    border-radius: 10px;
}

.adding_button {
    width: 0px;
    height: 20px !important;
    left: -8px;
}

.warning_alert_user {
    padding: 7px;
    width: 400px;
    text-align: center;
    bottom: -40px;
    position: relative;
    right: -10px;
}

.modal_form {
    max-height: 320px;
}

.modal_add {
    max-height: 420px;
}