<html>
<head>
    <title>American Dynamics - Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>-->
    <script src="../static/styles/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/static/styles/american.png" />
    <link href="/static/styles/home.css" rel="stylesheet" type="text/css">
    <link href="/static/styles/main.css" rel="stylesheet" type="text/css">
    <link href="/static/styles/css/" rel="stylesheet" type="text/css">
    <script src="../static/styles/fontawesome-free-5.8.1-web/js/all.js"></script>
    <script src="../static/styles/fontawesome-free-5.8.1-web/js/brands.js"></script>
    <script src="../static/styles/js/bootstrap.js"></script>
    <script src="../static/styles/jquery/jquery"></script>
    <script src="/static/home.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">American Dynamics</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/index_home">Home</a></li>
                <li><a href="/device">Device</a></li>
                <li><a href="/scripts">Scripts</a></li>
                <li><a href="/portscan">Port Scanning</a></li>
                <li><a href="/incidents">Incidents</a></li>
                <li><a href="/users">Users</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/motiondetection">Motion Detection<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/object_detection">Image Analysis</a></li>
                        <li><a href="#">Video Analysis</a></li>
                    </ul>
                <li><a href="{{ url_for('logout') }}"> <i class="fas fa-sign-out-alt"></i> Logout</a></li>
            </ul>
            <img src="/static/styles/american.png" class="brand_logo logo" alt="Logo">
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li>{% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                    <div id="user_message" class="alert {{ category }}"> {{ message|capitalize }} </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                </li>
            </ul>
        </div>
        <h1 id="title_home">Hi, {{ current_user.username }}!</h1>
        <div class="container">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="square square_incidents" href="/incidents">
                            <div id="incident_number">
                                {{number_incidents}}
                            </div>
                            <div id="incident_label">
                                INCIDENTS
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="square square_incidents" href="scripts.html">
                            <div id="script_number">
                                {{number_scripts}}
                            </div>
                            <div id="script_label">
                                SCRIPTS
                            </div>
                        </div>
                    </div>


                    <div class="item">
                        <div class="square square_incidents" href="scripts.html">
                            <div id="device_number">
                                {{devices}}
                            </div>
                            <div id="device_label">
                                DEVICES
                            </div>
                        </div>
                    </div>



                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span> <i class="fas fa-chevron-right"></i></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span> <i class="fas fa-chevron-right"></i></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</body>
</html>