<html>
<head>
    <title>American Dynamics - Incidents</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/styles/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../static/styles/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/static/styles/american.png" />
    <link href="/static/styles/main.css" rel="stylesheet" type="text/css">
    <link href="/static/styles/incidents.css" rel="stylesheet" type="text/css">
    <script src="/static/incidents.js"></script>
    <script src="../static/styles/fontawesome-free-5.8.1-web/js/all.js"></script>
    <script src="../static/styles/fontawesome-free-5.8.1-web/js/brands.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">American Dynamics</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/index_home">Home</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/device">Device<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/device">Monitoring</a></li>
                        <li><a href="/inspect">Inspection</a></li>
                    </ul>

                <!--<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/motiondetection">Motion Detection<span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="/object_detection">Image Analysis</a></li>-->
                        <!--<li><a href="#">Video Analysis</a></li>-->
                    <!--</ul>-->


                <li><a href="/scripts">Scripts</a></li>
                <li><a href="/portscan">Port Scanning</a></li>
                <li class="active"><a href="/incidents">Incidents</a></li>
                <li><a href="/users">Users</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/motiondetection">Motion Detection<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/object_detection">Image Analysis</a></li>
                        <li><a href="#">Video Analysis</a></li>
                    </ul>
                <li><a href="{{ url_for('logout') }}"> <i class="fas fa-sign-out-alt"></i> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="/users"><i class="fas fa-user positioning"></i>{{ current_user.username }}</a></li>
                <div class="alert alert-info" role="alert">
                    Please ensure all incidents are kept up to date with relevant information.
                </div>
                <li>{% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                    <div id="user_message" class="alert {{ category }}"> {{ message|capitalize }} </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}</li>
            </ul>
            <img src="/static/styles/american.png" class="brand_logo logo" alt="Logo">
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main table_incidents">
            <button id="btnSubmit_add" type="button" class="add_button button_scripts" data-toggle="modal" data-target="#exampleModal_1">
                <i class="fas fa-plus plus"></i>
            </button>
            <div class="alert alert-warning warning_alert user_delete" role="alert">
                Note: Only administrator users can delete incidents.
            </div>
            <div class="table-responsive tables">
                <table class="table table-striped" id="table_incident">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Incident Name</th>
                        <th scope="col">Incident Description</th>
                        <th scope="col">Incident Status</th>
                        <th scope="col">Incident Timestamp</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for incident in incident %}
                    <tr>
                        <th class="incident_id">{{incident.id}}</th>
                        <td id="test" class="incident_name">{{incident.name}}</td>
                        <td class="incident_description">{{incident.description}}</td>
                        <td class="incident_status">{{incident.status}}</td>
                        <td>{{incident.timestamp}}</td>
                        <td>
                            <button id="btnSubmit" value="{{incident.name}}" type="button" class="btn btn-primary btn-color" data-toggle="modal" data-target="#exampleModal">
                                Update
                            </button>
                        </td>
                        <td>
                            <!--DELETE THE INCIDENT-->
                            <form method="POST" action="./delete" style="display: inline">
                                <input type="hidden" value="{{incident.name}}" name="name">
                                <input type="submit" id="delete_incident" value="Delete" class="btn btn-primary btn-color">
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        Add Incident
                    </h4>
                </div>
                <form method="POST" role="form">
                    <!-- Modal Body -->
                    <div class="modal-body">
                        <div class="form-group in_name">
                            <label  class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" id="add_incident_name" name="name" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group in_description">
                            <label class="col-sm-2 control-label">Description</label>
                            <div class="col-sm-10">
                                <input type="text" id="add_incident_description" name="description" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group in_status">
                            <label class="col-sm-2 control-label">Status</label>
                            <div class="col-sm-10">
                                <input type="text" id="add_incident_status" name="status" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <div id="incidents_footer">
                            <div class="alert alert-warning warning_alert user_delete incident_footer_warning" role="alert">
                                Please ensure all incidents entered are relevant.
                            </div>
                            <input type="submit" value="Submit" class="btn btn-default position" id="show">
                            <button type="button" class="btn btn-default position" data-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <!-- Modal -->

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="add_incident_ModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel_text">
                        Add Incident
                    </h4>
                </div>
                <!--UPDATE THE INCIDENT-->
                <div class="modal-body">
                    <form method="POST" class="form-horizontal" action="./update" style="display: inline">
                        <div id="add_incident_body">
                            <div id="textarea">
                                <div class="form-group">
                                    <label>Incident Name: </label>
                                    <input type="hidden" id="incident_id" name="incident_id">
                                    <input type="hidden" id="oldincidentname" name="oldincidentname">
                                    <div class="col-sm-10">
                                        <input class="text_area" type="text" name="newincidentname" id="newincidentname" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Incident Description: </label>
                                    <input type="hidden" id="oldincidentdescription" name="oldincidentdescription">
                                    <div class="col-sm-10">
                                        <input class="text_area" type="text"  name="newincidentdescription" id="newincidentdescription" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Incident Status: </label>
                                <input type="hidden" id="oldincidentstatus" name="oldincidentstatus">
                                <div class="col-sm-10">
                                    <input type="text"  name="newincidentstatus" id="newincidentstatus" required>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" value="Update" id="update_incident" class="btn btn-primary">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>