<html>
<head>
    <title>American Dynamics - Incidents</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/styles/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../static/styles/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/static/styles/american.png" />
    <link href="/static/styles/main.css" rel="stylesheet" type="text/css">
    <link href="/static/styles/incidents.css" rel="stylesheet" type="text/css">
    <script src="/static/incidents.js"></script>
    <script src="../static/styles/fontawesome-free-5.8.1-web/js/all.js"></script>
    <script src="../static/styles/fontawesome-free-5.8.1-web/js/brands.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">American Dynamics</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/index_home">Home</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/device">Device<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/device">Monitoring</a></li>
                        <li><a href="/inspection">Inspection</a></li>
                    </ul>

                <!--<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/motiondetection">Motion Detection<span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="/object_detection">Image Analysis</a></li>-->
                        <!--<li><a href="#">Video Analysis</a></li>-->
                    <!--</ul>-->


                <li><a href="/scripts">Scripts</a></li>
                <li><a href="/portscan">Port Scanning</a></li>
                <li class="active"><a href="/incidents">Incidents</a></li>
                <li><a href="/users">Users</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/motiondetection">Motion Detection<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/object_detection">Image Analysis</a></li>
                        <li><a href="#">Video Analysis</a></li>
                    </ul>
                <li><a href="{{ url_for('logout') }}"> <i class="fas fa-sign-out-alt"></i> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="/users"><i class="fas fa-user positioning"></i>{{ current_user.username }}</a></li>
                <div class="alert alert-info" role="alert">
                    Please ensure all incidents are kept up to date with relevant information.
                </div>
                <li>{% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                    <div id="user_message" class="alert {{ category }}"> {{ message|capitalize }} </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}</li>
            </ul>
            <img src="/static/styles/american.png" class="brand_logo logo" alt="Logo">
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main table_portscan">
            <form method="post" class="add_buttons">
                <label>IP Address: </label>
                <input type="text" name="ipaddress_inspect" required>
                <input class="btn btn-primary btn-color" type="submit" value="submit">
            </form>
            <div class="table-responsive tables">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">IP Address</th>
                        <th scope="col">Device</th>
                        <th scope="col">State</th>
                        <th scope="col">Closed Ports</th>
                        <th scope="col">Filtered Ports</th>
                        <th scope="col">Open Ports</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for device in deviceinfo %}
                    <tr>
                        <th scope="row">{{device.ip_address}}</th>
                        <td>{{device.device}}</td>
                        <td>{{device.state}}</td>
                        <td>{{device.closed_ports}}</td>
                        <td>{{device.filtered_ports}}</td>
                        <td>{{device.open_ports}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>




</div>

</body>
</html>