<!DOCTYPE html>
<html>
<head>
    <title>American Dynamics</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" >
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="/static/styles/main.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/styles/american.png" />
</head>
<body>
<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <div class="brand_logo_container">
                    <img src="/static/styles/american.png" class="brand_logo" alt="Logo">
                </div>

            </div>
            <div class="title">
                <span class="title">
                    AMERICAN
                    DYNAMICS
                </span>
            </div>
            <div class="d-flex justify-content-center form_container">
                <form action="" method="post" autocomplete="fsndfoidnofn" novalidate>
                    {{ form.hidden_tag() }}
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <div class="override">
                            {{ form.username(size=32, class="override", color="green !important")}}
                        </div>
                    </div>
                    <p>
                        {% for error in form.username.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        {{ form.password(size=32) }}
                    </div>
                    <p>
                        {% for error in form.password.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <div class="d-flex justify-content-center mt-3 login_container">
                        {{ form.submit(class="btn login_btn") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
