<html>
<head>
    <title>American Dynamics - Motion Detection</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/static/styles/american.png" />
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">American Dynamics</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/index_home">Home</a></li>
            <li><a href="/device">Device</a></li>
            <li><a href="/scripts">Scripts</a></li>
            <li><a href="/portscan">Port Scanning</a></li>
            <li><a href="/incidents">Incidents</a></li>
            <li><a href="/users">Users</a></li>
            <li class="active"><a href="/motiondetection">Motion Detection</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
    </div>
</nav>
<h1>Add Motion Detection</h1>
<form method="POST">
    <label>IP Address: </label>
    <input type="text" name="ip_address">
    <label>Name: </label>
    <input type="text" name="name">
    <label>Top: </label>
    <input type="text" name="top">
    <label>Bottom: </label>
    <input type="text" name="bottom">
    <label>Left: </label>
    <input type="text" name="left">
    <label>Right: </label>
    <input type="text" name="right">

    <input type="submit" value="Add">
</form>
{{result}}

</body>
</html>