<html>
<head>
    <title>American Dynamics - Devices</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/static/styles/american.png" />
    <script src="/static/monitor.js"></script>
    <link href="/static/styles/main.css" rel="stylesheet" type="text/css">
    <link href="/static/styles/device.css" rel="stylesheet" type="text/css">
</head>
<body onload="ajaxd_first()">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">American Dynamics</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/index_home">Home</a></li>
                <li class="active"><a href="/device">Device</a></li>
                <li><a href="/scripts">Scripts</a></li>
                <li><a href="/portscan">Port Scanning</a></li>
                <li><a href="/incidents">Incidents</a></li>
                <li><a href="/users">Users</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/motiondetection">Motion Detection<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/object_detection">Image Analysis</a></li>
                        <li><a href="#">Video Analysis</a></li>
                    </ul>
                <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
            <img src="/static/styles/american.png" class="brand_logo logo" alt="Logo">
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="/users"><span class="glyphicon glyphicon-user"></span> {{ current_user.username }}</a></li>
                <li>{% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                    <div id="user_message" class="alert {{ category }}"> {{ message|capitalize }} </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}</li>
                <li id="timestamp" class="alert alert-info" role="alert"> {{timestamp}}</li>
                <li class="alert alert-warning" role="alert"> If network devices fail to load, please refresh the page with the below button. <br><button onclick="myFunction()">Reload page</button></li>
                <!--<li id="testing" class="alert alert-primary"> HELLO</li>-->
            </ul>
        </div>
    </div>
    <div id="loadingDiv" class="loader"></div>
    <div id ="first">

    </div>

     <div id ="iptable">
     </div>
</div>
</div>



<!--<script>-->


<!--function ajaxd_first() {-->
    <!--$("#first").load("/test", function() {-->
        <!--$('#loadingDiv').hide();-->
        <!--$("#timestamp").load("/timestamp", function() {-->
            <!--$('#timestamp').show();-->
        <!--});-->

    <!--});-->
<!--}-->
<!--</script>-->

</body>
</html>