<html>
<head>
    <title>American Dynamics - Devices</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/static/styles/american.png"/>
    <link href="/static/styles/main.css" rel="stylesheet" type="text/css">
    <link href="/static/styles/object_detection.css" rel="stylesheet" type="text/css">
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">American Dynamics</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/index_home">Home</a></li>
                <li><a href="/device">Device</a></li>
                <li><a href="/scripts">Scripts</a></li>
                <li><a href="/portscan">Port Scanning</a></li>
                <li><a href="/incidents">Incidents</a></li>
                <li><a href="/users">Users</a></li>
                <li class="active dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/motiondetection">Motion Detection<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/object_detection">Image Analysis</a></li>
                        <li><a href="#">Video Analysis</a></li>
                    </ul>
                <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
            <img src="/static/styles/american.png" class="brand_logo logo" alt="Logo">
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="/users"><span class="glyphicon glyphicon-user"></span> {{ current_user.username }}</a></li>
                <li>{% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                    <div id="user_message" class="alert {{ category }}"> {{ message|capitalize }} </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}</li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="object_detection">
                <h1>Object Detection</h1>

                <form method=post enctype=multipart/form-data>
                    <label>IP Address: </label>
                    <input type="text" name="ip_address">
                    <input type=submit value=Upload>
                </form>


                <!--<form action = "/detect_objects" method = "POST" enctype = "multipart/form-data">-->
                <!--<label>File: </label>-->
                <!--<input type="file" name="uploaded_file_detection" class="form-control" required/>-->
                <!--<button id="add_object" type = "submit" class="btn btn-default btn-primary">-->
                <!--Detect Objects-->
                <!--</button>-->
                <!--</form>-->

                <form method=post enctype=multipart/form-data>
                    <input type=file name=file>
                    <input type=submit value=Upload>
                </form>

                <!--<img src="/static/styles/new_image.png">-->
                <!--{{output}}-->



                <table class="table  table-striped">
                    <thead>
                    <tr>
                        <th scope="col"> Device </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ip in split_list %}
                    <tr>
                        <td>{{ ip }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <!--{% for your_list_element in your_list %}-->
                <!--<p>{{ your_list_element }} </p>-->
                <!--{% endfor %}-->

            </div>
        </div>
    </div>
</body>
</html>