<html>
<head>
    <title>American Dynamics - Port Scanning</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/static/styles/american.png"/>
    <link href="/static/styles/main.css" rel="stylesheet" type="text/css">
    <link href="/static/styles/portscan.css" rel="stylesheet" type="text/css">
</head>
<body style="overflow:hidden;">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">American Dynamics</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/index_home">Home</a></li>
                <li><a href="/device">Device</a></li>
                <li><a href="/scripts">Scripts</a></li>
                <li class="active"><a href="/portscan">Port Scanning</a></li>
                <li><a href="/incidents">Incidents</a></li>
                <li><a href="/users">Users</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/motiondetection">Motion Detection<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/object_detection">Image Analysis</a></li>
                        <li><a href="#">Video Analysis</a></li>
                    </ul>
                <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
            <img src="/static/styles/american.png" class="brand_logo logo" alt="Logo">
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="/users"><span class="glyphicon glyphicon-user"></span> {{ current_user.username }}</a></li>
                <li>{% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                    <div id="user_message" class="alert {{ category }}"> {{ message|capitalize }} </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}</li>
            </ul>
            <div class="alert alert-danger" role="alert">
                WARNING:
                Port scanning can be viewed as a crime. You should never execute a port scan against
                any website or IP address without explicit, written, permission from the owner of the computer, service or device
                that you are targeting.
            </div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main table_portscan">
            <form method="post" class="add_buttons">
                <label>IP Address: </label>
                <input type="text" name="ipaddress_portscan" required>
                <label>Device Type: </label>
                <input type="text" name="device" required>
                <input class="btn btn-primary btn-color" type="submit" value="submit">
            </form>
            <div class="table-responsive tables">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">IP Address</th>
                        <th scope="col">Device</th>
                        <th scope="col">Open Ports</th>
                        <th scope="col">Timestamp</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for portscan in portscan %}
                    <tr>
                        <th scope="row">{{portscan.ip_address}}</th>
                        <td>{{portscan.device_type}}</td>
                        <td>{{portscan.open_ports}}</td>
                        <td>{{portscan.timestamp}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</HTML>
