<html>
<head>
    <title>American Dynamics - Scripts</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../static/styles/js/bootstrap.min.js"></script>

    <link rel="shortcut icon" type="image/x-icon" href="/static/styles/american.png" />
    <script src="/static/scripts.js"></script>
    <link href="/static/styles/main.css" rel="stylesheet" type="text/css">
    <link href="/static/styles/scripts.css" rel="stylesheet" type="text/css">

    <script src="../static/styles/fontawesome-free-5.8.1-web/js/all.js"></script>
    <script src="../static/styles/fontawesome-free-5.8.1-web/js/brands.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">American Dynamics</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/index_home">Home</a></li>
                <li><a href="/device">Device</a></li>
                <li class="active"><a href="/scripts">Scripts</a></li>
                <li><a href="/portscan">Port Scanning</a></li>
                <li><a href="/incidents">Incidents</a></li>
                <li><a href="/users">Users</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/motiondetection">Motion Detection<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/object_detection">Image Analysis</a></li>
                        <li><a href="#">Video Analysis</a></li>
                    </ul>
                <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="/users"><span class="glyphicon glyphicon-user"></span> {{ current_user.username }}</a></li>
                <div class="alert alert-warning" role="alert">
                    Before executing any script, please ensure you understand the purpose
                    of it by looking at the description and documentation.
                </div>
                <li>{% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                    <div id="user_message" class="alert {{ category }}"> {{ message|capitalize }} </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}</li>
            </ul>
            <img src="/static/styles/american.png" class="brand_logo logo" alt="Logo">
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main table_scripts">
            <div class="alert alert-warning warning_alert user_delete" role="alert">
                Note: Only administrator users can delete scripts.
            </div>
            <button id="btnSubmit_adduser" type="button" class="add_button button_scripts"  data-toggle="modal" data-target="#add_user">
               <i class="fas fa-plus plus"></i>
            </button>
            <div class="table-responsive tables">
                <table class="table  table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Parameters</th>
                        <th scope="col">Documentation</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for script in scripts %}
                    <tr>
                        <th scope="row" class="script_name">{{script.name}}</th>
                        <td class="script_description">{{script.description}}</td>
                        <td class="script_parameters">{{script.parameters}}</td>
                        <td class="script_documentation">{{script.documentation}}</td>
                        <td>
                            <button id="btnSubmit_execute" type="button" class="btn btn-primary btn-color btn-add-execute" data-toggle="modal" data-target="#exampleModal_execute">
                                <input type="hidden" value="{{script.name}}" id="script_name_execute" name="old_script_name">
                                <input type="hidden" value="{{script.description}}" id="script_description_execute" name="old_script_description">
                                <input type="hidden" value="{{script.parameters}}" id="script_parameters_execute" name="old_script_parameters">
                                <input type="hidden" value="{{script.documentation}}" id="script_documentation_execute" name="old_script_documentation">
                                Execute
                            </button>
                        </td>
                        <td>
                            <button id="btnSubmit" type="button" class="btn btn-primary btn-color" data-toggle="modal" data-target="#exampleModal">
                                <input type="hidden" value="{{script.name}}" id="script_name" name="old_script_name">
                                <input type="hidden" value="{{script.description}}" id="script_description" name="old_script_description">
                                <input type="hidden" value="{{script.parameters}}" id="script_parameters" name="old_script_parameters">
                                <input type="hidden" value="{{script.documentation}}" id="script_documentation" name="old_script_documentation">
                                Update
                            </button>
                        </td>
                        <td>
                            <!--DELETE THE SCRIPT-->
                            <form method="POST" action="./delete_scripts" style="display: inline">
                                <input type="hidden" value="{{script.name}}" name="script_name">
                                <input type="submit" value="Delete" class="btn btn-primary btn-color">
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Add Modal -->
<div class="modal fade popup form-horizontal" id="add_user" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel_text">
                    Add Script
                </h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning" role="alert">
                    Note: Only administrators users can add scripts.
                </div>
                <!---->
                 <!--<form method=post enctype=multipart/form-data>-->
                    <!--<input type=file name=file>-->
                    <!--<input type=submit value=Upload>-->
                <!--</form>-->
                <!---->
                <form class="form-horizontal" method = "POST" enctype = "multipart/form-data">
                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Add File</label>
                        <div class="col-sm-10">
                            <input type=file name=file>
                            <!--<input type="file" name="uploaded_file" class="form-control" required/>-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Script Name:</label>
                        <div class="col-sm-10">
                            <input type="text" id="add_script_name" name="script_name" class="form-control" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Description: </label>
                        <div class="col-sm-10">
                            <input type="text" id="add_script_description" name="description" class="form-control" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Parameters: </label>
                        <div class="col-sm-10">
                            <input type="text" id="add_script_parameters" name="parameters" class="form-control" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Documentation: </label>
                        <div class="col-sm-10">
                            <input type="text" id="add_script_documentation" name="documentation" class="form-control" required/>
                        </div>
                    </div>
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">
                            Close
                        </button>
                        <button id="add_script" type = "submit" class="btn btn-default btn-primary">
                            Add Scripts
                        </button>
                        <!--<input type=submit value=Upload>-->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Update Modal -->
<div class="modal fade"  id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Update Script
                </h4>
            </div>
            <div class="modal-body">
                <form method="POST" action="./update_scripts" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Script Name:</label>
                        <div class="col-sm-10">
                            <input type="hidden" id="old_script_name" name="old_script_name">
                            <input type="text"  name="new_script_name" id="new_script_name" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Script Description:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="new_script_description" id="new_script_description">
                            <input type="hidden" id="old_script_description" name="old_script_description">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Script Parameters:</label>
                        <div class="col-sm-10">
                            <input type="hidden" class="form-control" id="old_script_parameters" name="old_script_parameters">
                            <input type="text"  name="new_script_parameters" id="new_script_parameters">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Script Documentation:</label>
                        <div class="col-sm-10">
                            <input type="hidden" id="old_script_documentation" name="old_script_documentation">
                            <input type="text" class="form-control" name="new_script_documentation" id="new_script_documentation">
                        </div>
                    </div>
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" id="update_script" value="Update" class="btn btn-primary btn-default">Update</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal_execute" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">
                    Execute Script
                </h4>
            </div>
            <div class="modal-body">
            <!--EXECUTE THE SCRIPT-->
                <div class="alert alert-warning" role="alert">
                    Note: Only administrators users can add users.
                </div>
            <form method="POST" action="./execute_scripts" style="display: inline">
                        <div class="execute_modal">
                            <label>Script Name: </label>
                            <label class="un-bold" id="script_name_label" name="test"> </label>
                        </div>
                        <div class="execute_modal">
                            <input type="hidden" id="script_executed" name="script_executed">
                            <label>Script Description: </label>
                            <label class="un-bold" id="script_description_label"> </label>
                        </div>
                        <div class="execute_modal">
                            <label>Script Parameters: </label>
                            <label class="un-bold" id="script_parameters_label"> </label>
                        </div>
                        <div class="execute_modal">
                            <label>Script Documentation: </label>
                            <label class="un-bold" id="script_documentation_label"> </label>
                        </div>
                        <div class="execute_modal">
                            <label>Script Arguments: </label>
                            <input type="text" name="script_parameters" id="executing_script">
                        </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" value="Execute" id="execute_script_button" class="btn btn-primary">Execute</button>
                </div>
            </form>
        </div>
        </div>

    </div>
</div>
</body>
</html>