<html>
<head>
    <title>American Dynamics - Users</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/styles/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/static/styles/american.png" />
    <link href="/static/styles/main.css" rel="stylesheet" type="text/css">
    <!--<link href="/static/styles/users.css" rel="stylesheet" type="text/css">-->
    <script src="/static/users.js"></script>

    <script src="../static/styles/fontawesome-free-5.8.1-web/js/all.js"></script>
    <script src="../static/styles/fontawesome-free-5.8.1-web/js/brands.js"></script>
    <link rel="stylesheet" href="../static/styles/users.css">

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">American Dynamics</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/index_home">Home</a></li>
                <li><a href="/device">Device</a></li>
                <li><a href="/scripts">Scripts</a></li>
                <li><a href="/portscan">Port Scanning</a></li>
                <li><a href="/incidents">Incidents</a></li>
                <li class="active"><a href="/users">Users</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/motiondetection">Motion Detection<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/object_detection">Image Analysis</a></li>
                        <li><a href="#">Video Analysis</a></li>
                    </ul>
                <li><a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="/users"><i class="fas fa-user positioning"></i>{{ current_user.username }}</a></li>
                <div class="alert alert-info" role="alert">
                    Note: All passwords will be hashed.
                </div>
                <li>{% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                    <div id="user_message" class="alert {{ category }}"> {{ message|capitalize }} </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}</li>
            </ul>
            <img src="/static/styles/american.png" class="brand_logo logo" alt="Logo">
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main table_users">
            <button id="add_user_button" class="add_button" data-toggle="modal" data-target="#add_user">
               <i class="fas fa-user-plus adding_button"></i>
            </button>
            <div class="alert alert-warning warning_alert_user" role="alert">
                Note: Only administrators users can delete users.
            </div>
            <div class="table-responsive tables">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Username</th>
                        <th scope="col">Email Address</th>
                        <th scope="col">Role</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in user %}
                    <tr>
                        <th scope="row" class="user_id">{{user.id}}</th>
                        <th scope="row" class="user_name">{{user.username}}</th>
                        <td class="user_email"> {{user.email}}</td>
                        <td class="user_permissions">{{user.permissions}}</td>
                        <td>
                            <button id="edit_user_button" type="button" class="btn btn-primary btn-add-user btn-edit btn-color" data-toggle="modal" data-target="#edit_user">
                                Edit
                            </button>
                        </td>
                        <td>
                            <!--DELETE USER-->
                            <form method="POST" action="./delete_user" style="display: inline">
                                <input type="hidden" value="{{user.username}}" id="username" name="username">
                                <input type="hidden" value="{{user.email}}" id="email">
                                <input type="hidden" value="{{user.permissions}}" id="permissions">
                                <input class="btn btn-primary btn-color" type="submit" value="Delete">
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="add_user" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal_add">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel_text">
                    Add User
                </h4>
            </div>
            <div class="modal-body">
                {% block content %}
                <form action="./users" method="post">
                    {{ user_form.hidden_tag() }}
                    <div class="user_model">
                        <p>
                            {{ user_form.username.label }}<br>
                            {{ user_form.username(size=32) }}<br>
                            {% for error in user_form.username.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p>
                            {{ user_form.email.label }}<br>
                            {{ user_form.email(size=64) }}<br>
                            {% for error in user_form.email.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p>
                            {{ user_form.password.label }}<br>
                            {{ user_form.password(size=32) }}<br>
                            {% for error in user_form.password.errors %}
                            <span style="color: red;">[{{ user_form }}]</span>
                            {% endfor %}
                        </p>
                        <p>
                            {{ user_form.password2.label }}<br>
                            {{ user_form.password2(size=32) }}<br>
                            {% for error in user_form.password2.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p>
                            <label>Permissions: </label>
                            <input type="text" name="permissions" required/>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <div>
                            <p>{{ user_form.submit() }}</p>
                        </div>
                    </div>
                </form>
                {% endblock %}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edit_user" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal_form">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel_text1">
                    Edit User
                </h4>
            </div>

        <div class="modal-body">
            <form action="./edit_user" method="post">
            {{ user_form.hidden_tag() }}
                <div id="user_modal">
                    <p>
                        {{ user_form.username.label }}<br>
                        <input name="new_username" id="new_username" class="form-control"  />
                        <input type="hidden" id="old_username" name="old_username">
                        <input type="hidden" id="user_id" name="user_id">
                        {% for error in user_form.username.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ user_form.email.label }}<br>
                        <input name="new_email" id="new_email" class="form-control"  />
                        <input type="hidden" id="old_email" name="old_email">
                        {% for error in user_form.email.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        <label>Permissions: </label>
                        <input type="text" name="new_role" id="new_role" required/>
                        <input type="hidden" id="old_role" name="old_role">
                    </p>
                </div>
                <div class="modal-footer">
                    <p>{{ user_form.submit() }}</p>
                    <!--<button type="submit" value="Edit" class="btn btn-primary">Edit</button>-->
                </div>
            </form>
        </div>


<!--         <div class="modal-body">
        <form action="./edit_user" method="post">
            {{ user_form.hidden_tag() }}
                <div id="user_modal">
                    <p>
                        {{ user_form.username.label }}<br>
                        <input name="new_username" id="new_username" class="form-control"  />
                        <input type="hidden" id="old_username" name="old_username">
                        {% for error in user_form.username.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ user_form.email.label }}<br>
                        <input name="new_email" id="new_email" class="form-control"  />
                        <input type="hidden" id="old_email" name="old_email">
                        {% for error in user_form.email.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        <label>Permissions: </label>
                        <input type="text" name="new_role" id="new_role" required/>
                        <input type="hidden" id="old_role" name="old_role">
                    </p>
                </div>
                <p>{{ user_form.submit() }}</p>
                <button type="submit" value="Edit" class="btn btn-primary">Edit</button>
            </form>
         </div>-->
        </div>
    </div>
</div>
</body>
</html>